<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

<!-- Main Content -->
<Main Class="container">
  <div class="jumbotron">
    <h1 class="displat-4"> Hyunsun Shin
  <small class="text-muted">Software Engineering Student</small>
</h1>
<div class="container">
  <div class="row">
    <div class="col">
        <!-- Profile picture -->
            <img src="/Assets/images/myphoto.jpg" alt="Photo of Hyunsun" class="img-thumbnail">
    </div>
    <div class="col">
        <!-- Qualifications -->
      <dl class="row">
  <dt class="col-sm-3">Skills</dt>
  <dd class="col-sm-9">Java  |  HTML  |  JavaScript  |  SQL  |  G-Suite  |  MS Office</dd>

  <dt class="col-sm-3">Qualifications</dt>
  <dd class="col-sm-9">
    <p>Agile</p>
    <p>Leadership experiences</p>
    <p>Attention to details</p>
    <p>Willing to learn</p>
  </dd>

  <dt class="col-sm-3">Education</dt>
  <dd class="col-sm-9">
  <p>Centennial College Of Applied Arts And Technology</p>
  <p>        - Software Engineering (2021)</p>
  <p>Jeonbuk National University</P>
  <p>        - Jounalism and Broadcasting (2017)</p>
  </dd>

  <dt class="col-sm-3">Resume</dt>
  <dd class="col-sm-9"><a class="btn btn-light btn-lg" href="/Assets/File/resume.pdf" role="button" target=" _blank">
            Click to See
        </a></dd>


</dl>
    </div>
  </div>
 </div>
</div>


</Main>



<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>