<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

<!-- Main Content -->
<Main Class="container">
  <div class="jumbotron">
    <h1 class="display-4">Projects</h1>

   <!-- Content-->
        <!-- Projects -->
<div class="card-deck flex-lg-row flex-md-column flex-sm-row">
    <!-- First project -->
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">SRS - Easy Parking System</h3>
            <img class="img-thumbnail" src="/Assets/images/project1.png"
                alt="Screen Shot of a project">
            <p class="card-text">Object Oriented Software Engineering Term project.</p>
        </div>
    </div>
    <!-- Second project -->
     <div class="card">
        <div class="card-body">
            <h3 class="card-title">Java - Quiz
                Genertor</h3>
            <img class="img-thumbnail" src="/Assets/images/project2.png"
                alt="Screen Shot of a Java assignment ">
            <p class="card-text">Term project for Java Programming which utilizes OOP to create a quiz
                genertor
                using JOptionPane as GUI.</p>
        </div>
    </div>
</div>
</Main>



<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>