<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

<!-- Main Content -->
<Main Class="container">
  <div class="jumbotron">
    <h1 class="display-4">Services</h1>
    <!-- Hero container -->
    <div class="jumbotron d-flex align-items-center ">
      <div class="container text-center">
        <!-- Content-->
        <!-- Services -->
<div class="row text-center services">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <i class="fas fa-5x fa-terminal"></i>
        <p class="h3">General Programming</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <i class="fas fa-5x fa-laptop-code"></i>
        <p class="h3">Web Development</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <i class="fas fa-5x fa-tasks"></i>
        <p class="h3">Project Management</p>
    </div>
  </div>
  
</div>
</Main>



<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>